index.html
<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
	<head>
		<title>Test Page</title>
		<link rel="stylesheet" href="dist/css/main.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1>Title Header</h1>
					<p>Lorem ipsum dolor sit amet, ad vim viris laboramus delicatissimi, vix debitis principes intellegebat at. Brute copiosae maluisset usu ut, vim in quas impetus laboramus. His ei doming iudicabit accusamus, unum nullam ut per, ex his convenire intellegam disputando. Dolorum blandit eu eos, an qui sale postulant. Vocent sensibus ius an, in pri mucius assentior.</p>
					<p>Bonorum delicatissimi sed ex, aeque discere urbanitas ne eos. Tollit partiendo mnesarchum an ius, ne tota erat doming vix, sumo nemore fabulas nam no. Quas posse mediocritatem qui eu, no novum tacimates ius. Te nam aeque vulputate consetetur.</p>
					<p>An ludus soluta iisque eum, pro no verear dolores, pro liber explicari repudiandae an. Te ludus nihil sit, in quando aliquip delicata eos. Ut nobis offendit pri. Has an recteque torquatos comprehensam, ea docendi similique nam, et mea primis omnium alterum. Et sint aliquam deterruisset eos. An idque graece recusabo eum, suas principes mel an.</p>
					<p>An sed modus consequat reprehendunt. At admodum liberavisse mea. Ius vivendo electram deseruisse ut, tamquam malorum aliquando nam ad, falli aliquid intellegam id has. Eu usu principes efficiantur. Ea vix error similique.</p>
					<p>No consequat dissentias signiferumque usu. Ei sed invidunt detraxit. Te idque eripuit suscipit pro, ei malorum sapientem pro, ut sint appellantur mea. At sed denique suscipit. Brute comprehensam mea ei, eos at numquam alienum, ad animal forensibus ius. Praesent ocurreret elaboraret at eos, volutpat assentior in mel, vis albucius comprehensam definitionem in. Vim sale regione patrioque ad, has id facer nominati.</p>
				</div>
			</div>
		</div>
		<div class="main-block">
			<div class="container">
				<div class="row">
					<h1 class="col-lg-12 text-center">Title Header</h1>
					<p class="col-md-6">Lorem ipsum dolor sit amet, ad vim viris laboramus delicatissimi, vix debitis principes intellegebat at. Brute copiosae maluisset usu ut, vim in quas impetus laboramus. His ei doming iudicabit accusamus, unum nullam ut per, ex his convenire intellegam disputando. Dolorum blandit eu eos, an qui sale postulant. Vocent sensibus ius an, in pri mucius assentior.</p>
					<p class="col-md-6">Bonorum delicatissimi sed ex, aeque discere urbanitas ne eos. Tollit partiendo mnesarchum an ius, ne tota erat doming vix, sumo nemore fabulas nam no. Quas posse mediocritatem qui eu, no novum tacimates ius. Te nam aeque vulputate consetetur.</p>
					<p class="col-md-6">An ludus soluta iisque eum, pro no verear dolores, pro liber explicari repudiandae an. Te ludus nihil sit, in quando aliquip delicata eos. Ut nobis offendit pri. Has an recteque torquatos comprehensam, ea docendi similique nam, et mea primis omnium alterum. Et sint aliquam deterruisset eos. An idque graece recusabo eum, suas principes mel an.</p>
					<p class="col-md-6">An sed modus consequat reprehendunt. At admodum liberavisse mea. Ius vivendo electram deseruisse ut, tamquam malorum aliquando nam ad, falli aliquid intellegam id has. Eu usu principes efficiantur. Ea vix error similique.</p>
					<p class="col-md-6">No consequat dissentias signiferumque usu. Ei sed invidunt detraxit. Te idque eripuit suscipit pro, ei malorum sapientem pro, ut sint appellantur mea. At sed denique suscipit. Brute comprehensam mea ei, eos at numquam alienum, ad animal forensibus ius. Praesent ocurreret elaboraret at eos, volutpat assentior in mel, vis albucius comprehensam definitionem in. Vim sale regione patrioque ad, has id facer nominati.</p>
				</div>
			</div>
		</div>
		<script src="dist/js/appjs.js"></script>
		<script src="dist/js/main.js"></script>
	</body>
</html>

src/pug/index.pug
doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	head
		title
			|Test Page
		link(rel="stylesheet" href="dist/css/main.css")
	body
		.container
			.row
				.col-md-6
					h1
						|Title Header
					p
						|Lorem ipsum dolor sit amet, ad vim viris laboramus delicatissimi, vix debitis principes intellegebat at. Brute copiosae maluisset usu ut, vim in quas impetus laboramus. His ei doming iudicabit accusamus, unum nullam ut per, ex his convenire intellegam disputando. Dolorum blandit eu eos, an qui sale postulant. Vocent sensibus ius an, in pri mucius assentior.
					p
						|Bonorum delicatissimi sed ex, aeque discere urbanitas ne eos. Tollit partiendo mnesarchum an ius, ne tota erat doming vix, sumo nemore fabulas nam no. Quas posse mediocritatem qui eu, no novum tacimates ius. Te nam aeque vulputate consetetur.
					p
						|An ludus soluta iisque eum, pro no verear dolores, pro liber explicari repudiandae an. Te ludus nihil sit, in quando aliquip delicata eos. Ut nobis offendit pri. Has an recteque torquatos comprehensam, ea docendi similique nam, et mea primis omnium alterum. Et sint aliquam deterruisset eos. An idque graece recusabo eum, suas principes mel an.
					p
						|An sed modus consequat reprehendunt. At admodum liberavisse mea. Ius vivendo electram deseruisse ut, tamquam malorum aliquando nam ad, falli aliquid intellegam id has. Eu usu principes efficiantur. Ea vix error similique.
					p
						|No consequat dissentias signiferumque usu. Ei sed invidunt detraxit. Te idque eripuit suscipit pro, ei malorum sapientem pro, ut sint appellantur mea. At sed denique suscipit. Brute comprehensam mea ei, eos at numquam alienum, ad animal forensibus ius. Praesent ocurreret elaboraret at eos, volutpat assentior in mel, vis albucius comprehensam definitionem in. Vim sale regione patrioque ad, has id facer nominati.
		.main-block
			.container
				.row
					h1.col-lg-12.text-center
						|Title Header
					p.col-md-6
						|Lorem ipsum dolor sit amet, ad vim viris laboramus delicatissimi, vix debitis principes intellegebat at. Brute copiosae maluisset usu ut, vim in quas impetus laboramus. His ei doming iudicabit accusamus, unum nullam ut per, ex his convenire intellegam disputando. Dolorum blandit eu eos, an qui sale postulant. Vocent sensibus ius an, in pri mucius assentior.
					p.col-md-6
						|Bonorum delicatissimi sed ex, aeque discere urbanitas ne eos. Tollit partiendo mnesarchum an ius, ne tota erat doming vix, sumo nemore fabulas nam no. Quas posse mediocritatem qui eu, no novum tacimates ius. Te nam aeque vulputate consetetur.
					p.col-md-6
						|An ludus soluta iisque eum, pro no verear dolores, pro liber explicari repudiandae an. Te ludus nihil sit, in quando aliquip delicata eos. Ut nobis offendit pri. Has an recteque torquatos comprehensam, ea docendi similique nam, et mea primis omnium alterum. Et sint aliquam deterruisset eos. An idque graece recusabo eum, suas principes mel an.
					p.col-md-6
						|An sed modus consequat reprehendunt. At admodum liberavisse mea. Ius vivendo electram deseruisse ut, tamquam malorum aliquando nam ad, falli aliquid intellegam id has. Eu usu principes efficiantur. Ea vix error similique.
					p.col-md-6
							|No consequat dissentias signiferumque usu. Ei sed invidunt detraxit. Te idque eripuit suscipit pro, ei malorum sapientem pro, ut sint appellantur mea. At sed denique suscipit. Brute comprehensam mea ei, eos at numquam alienum, ad animal forensibus ius. Praesent ocurreret elaboraret at eos, volutpat assentior in mel, vis albucius comprehensam definitionem in. Vim sale regione patrioque ad, has id facer nominati.
		script(src="dist/js/appjs.js")
		script(src="dist/js/main.js")
